body {
  margin: 0 auto;
  text-align: center;
}

@media @mobile-widths-only {
  body {
    width: 320px;
  }

  .research {
    display: none;
  }
}

@media @tablet-widths {
  body {
    width: 700px;
  }
}

@media @desktop-widths {
  body {
    width: 1200px;
  }
}

main {
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}


