
.application-download {

  &__link {
    display: block;
    width: 293px;
    height: 49px;
    margin: 20px auto;
    border: 3px solid #000000;
    border-radius: 26px;
  }

  &__apps-list li{
    .inline-block();
  }

  &__text{
    width: 229px;
    height: 37px;
    margin: 30px auto;
  }
}

@media @tablet-widths {
  .application-download {
    max-width: 40%;
  }
}

@media @desktop-widths {
  .application-download {
    .outline();
    margin-left: 130px;
    height: 300px;
    order: 1;
    margin-bottom: 125px;
  }
}