
.application-download {
  width: 320px;
  height: 305px;
  margin: 0 auto;
  .outline();
  background-color: #1d2631;
  margin-top: 459px;

  &__link {
    display: block;
    width: 293px;
    height: 17px;
    margin: 16px auto;
    border: 3px solid #ffffff;
    border-radius: 26px;
    color: #ffffff;
    font-family:"opensans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    padding: 17px 0;
  }

  &__apps-list {
    margin-top: 40px;
  }

  &__apps-list li{
    .inline-block();
    margin: 10px;
  }

  &__text{
    width: 300px;
    height: 37px;
    margin: 15px auto;
    color: #ffffff;
    font-family:"opensans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }
}

@media @tablet-widths {
  .application-download {
    margin-left: 28px;
    margin-top: 228px;
  }

  &__apps-list {
    margin-top: 38px;
  }
}

@media @desktop-widths {
  .application-download {
    margin-left: 118px;
    margin-top: 272px;

    &__link {
      font-size: 21px;
    }

    &__apps-list {
      margin-top: 55px;
    }

    &__text {
      margin: 41px auto;
    }
  }
}
