
.application-download {
  height: 330px;
  margin: 0 auto;
  .outline();
  background-color: #8a8a8a;

  &__link {
    display: block;
    width: 293px;
    height: 17px;
    margin: 20px auto;
    border: 3px solid #ffffff;
    border-radius: 26px;
    color: #ffffff;
    font-family:"opensans", Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 18px;
    padding: 17px 0;
  }

  &__apps-list {
    margin-top: 60px;
  }

  &__apps-list li{
    .inline-block();
    margin: 10px;
  }

  &__text{
    width: 300px;
    height: 37px;
    margin: 34px auto;
    color: #ffffff;
    font-family:"opensans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }
}

@media @mobile-widths-only {
  .application-download {
    margin-left: 0;
    background-color: #1d2631;
  }
}

@media @tablet-widths {
  .application-download {
    margin-left: 38px;
    order: 1;
    margin-bottom: 44px;
  }

  &__apps-list {
    margin-top: 38px;
  }
}

@media @desktop-widths {
  .application-download {
    margin-left: 130px;
    order: 1;
    margin-bottom: 94px;
  }
}
