.form {
  .outline();

  &__intro-text {
    padding: 20px 30px;
  }

  &__submit-error {
    display: none;
  }

  &__submit-ok {
    display: none;
  }
}

@media @tablet-widths {
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__user-initials-container {
      order: 1;
    }

    &__device-container {
      order: 2;
    }

    &__contact-information-container {
      order: 3;
    }

    &__user-achievements-container {
      order: 4;
    }

    &__user-review-container {
      order: 5;
    }
  }
}

@media @desktop-widths {
  .form {
    display: flex;

    &__user-initials-container {
      width: 45%;
      justify-content: flex-start;
    }

    &__device-container {
      width: 45%;
      justify-content: flex-end;
    }

  }
}