
.information {
  width: 100%;
  .outline();

  &__title {
    padding: 45px;
  }

  &__picture--index {
    display: none;
  }
}

@media @tablet-widths {
  .information {
    &__title {
      padding: 0 163px;
    }

    &__article-container {
      display: flex;
      flex-direction: row;
    }

    &__article-container-interior {
      width: 50%;
      order: 2;
    }

    &__picture {
      width: 40%;
      order: 1;
    }
  }
}

@media @desktop-widths {
  .information {

    &__title {
      font-size: 50px;
    }

    &__article-container {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &__article-container-interior {
      order: 2;
      height: 400px;
      width: 100%;
      display: inline-flex;
    }

    &__picture {
      order: 1;
      width: 100%;
      height: 400px;
    }

    &__article {
      margin: 40px 0;
    }

    &__picture-iphone {

      display: inline-flex;
    }
  }
}
