
.intro-application-container {
  width: 320px;
  height: 501px;
  position: relative;
  z-index: 45;
  top: -110px;
  margin-bottom: -110px;
  background-color: #000000;
  background: url("../img/back-desktopjpg.png")no-repeat;

  &--container-photo{
    height: 280px;
  }
}

@media @tablet-widths {
  .intro-application-container {
    width: 100%;
    &--main {
      height: 729px;
    }
  }
}

@media @desktop-widths {
  .intro-application-container {
    &--main {
      height: 853px;
    }
  }
}