
@media @mobile-widths-only {
  .intro {
    display: none;
  }
}

@media @tablet-widths{
  .intro {
    &__title {
      color: #ffffff;
      font-family:"opensans", Arial, sans-serif;
      font-size: 40px;
      line-height: 50px;
      font-weight: 300;
      .outline();
      background-color: #00AA00;
    }

    &--main{
      position: relative;
      width: 30%;
      height: 150px;
      left: 83px;
      top: 368px;
      order: 3;
    }
  }
}

@media @desktop-widths {
  .intro {
    &--main {
      width: 24%;
      left: 136px;
      top: 202px;
    }

    &__title {
      font-size: 50px;
    }
  }
}
