.nav-menu {

  &__list {
    list-style-type: none;
  }

  &__list-item {
    display: inline-block;
    vertical-align: top;
  }


  &__list-link {
    text-decoration: none;

  }

  &__list-link{
    color: #00AA00;
  }

}
