
.page-footer {
  &__copyright-list li {
    .inline-block();
  }

  &__copyright-text {
    display: block;
    width: 100px;
  }

  &__copyright-logo {
    display: block;
    width: 50px;
  }

  &__container {
    display: none;
  }
}

@media @tablet-widths {
  .page-footer {
    &__container {
      display: flex;
      justify-content: space-between;
      height: 100px;
      padding-top: 30px;
    }

    &__copyright {
      width: 300px;
      height: 60px;
    }

    &__copyright-list {
      margin-top: 11px;
    }

    &__copyright-text {
      padding-top: 10px;
      font-size: 14px;
    }
  }
}
