.page-header {
  position: relative;
  z-index: 50;

  &__toggle-menu {
    text-align: left;
    .outline();
    height: 66px;
  }

  @media @mobile-widths-only {
    .page-header {
      &__toggle-menu {
        .outline();
        width: 320px;
      }
    }
  }

  @media @tablet-widths {
    .page-header {
      &__toggle-menu {
        height: 110px;
      }
    }
  }

  @media @desktop-widths {
    .page-header {
      &__toggle-menu {
        display: none;
      }
    }
  }
}

