.post {
  font-size: 14px;
  line-height: 24px;
  .outline();
  text-align: left;
  padding: 20px;

  &__intro-posts {
    height: 185px;
    margin-top: 100px;
    color: #0b97c4;
  }

  &__intro-posts-text {
    padding: 0 40px;
    color: #0b97c4;
  }

  &__author {
    padding: 0 19px;
  }

  &__author--best-post {
    padding: 0 39px;
    padding-bottom: 20px;
  }

  &--overall-width {
    padding: 0;
  }

  &__picture{
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
  }

  &__picture--full-width {
    width: 320px;
    height: 137px;
    position: relative;
  }

  &__author-name {
    font-weight: 700;
  }

  &__author-time {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
  }

  &__like-text {
    color: #d22856;
    margin-top: 7px;
  }
}

@media @tablet-widths {
  .posts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .post {
    width: 320px;
    margin: 10px auto;
    &__picture--full-width img{
      width: 100%;
    }

    &--overall-width {
      width: 100%;
    }
  }
}
