
.review {
  &__item {
    padding: 20px;
  }

  &__author {
    color: #000000;
    font-family:"opensans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
  }

  &__story {
    color: #283645;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }

}