.slider {
  .outline();

  &__control {
    position: relative;
    margin: 30px auto;

  }

  &__control-element {
    width: 6px;
    height: 6px;
    .inline-block();
    border: 2px solid #ffffff;
    background-color: #bec2c7;
    border-radius: 50%;
  }

  &__control-element--active {
    border: 2px solid #283645;
  }
}
